// basic
@import "vars"
@import "base"
@import "common"

.content
  position: relative
  width: 800px
  height: 800px
  border: 1px solid #000
  -webkit-background-size: cover
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  &_inner
    position: relative
    z-index: 10



